.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;

    &__label,
    &__date,
    &__text {
        margin-bottom: 10px;
    }

    &__label {
        width: 40%;
    }

    &__text {
        padding-left: 3px;
        width: 60%;
    }

    &__textarea {
        padding: 3px;
    }

    &__submit {
        @include small-btn;
        margin: 20px auto;
    }

    &__display {
        text-align: center;
        font-weight: bold;
        width: 100%;

        &--green {
            color: #0f6e17;
        }

        &--red {
            color: #ca1616;
        }
    }
}