.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    margin: 0 auto;

    &__label,
    &__date,
    &__text {
        margin-bottom: 10px;
    }

    &__label {
        width: 40%;
    }

    &__text {
        padding-left: 3px;
        width: 60%;
    }

    &__textarea {
        padding: 3px;
    }

    &__submit {
        padding: 10px 20px;
        font-size: 15px;
        margin: 20px auto;
    }
}